POSTGRES_USER=postgresql
POSTGRES_PASSWORD=shehan2004
POSTGRES_DB=htn26db
DATABASE_URL=postgresql://postgres:supersecurepassword@db:5432/crud_app

# Add any additional environment variables your team needs below
#hello
#ubidasbnidj